[submodule "engine/lib/spdlog"]
	path = engine/lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "engine/lib/glfw"]
	path = engine/lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/lib/vma"]
	path = engine/lib/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
