[submodule "engine/lib/spdlog"]
	path = engine/lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "engine/lib/glfw"]
	path = engine/lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/lib/vma"]
	path = engine/lib/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "engine/lib/glm"]
	path = engine/lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "engine/lib/vma-hpp"]
	path = engine/lib/vma-hpp
	url = https://github.com/YaaZ/VulkanMemoryAllocator-Hpp.git
[submodule "engine/lib/imgui"]
	path = engine/lib/imgui
	url = https://github.com/thegeeko/imgui.git
[submodule "engine/lib/assimp"]
	path = engine/lib/assimp
	url = https://github.com/assimp/assimp
[submodule "engine/lib/stb"]
	path = engine/lib/stb
	url = https://github.com/thegeeko/stb
[submodule "engine/lib/entt"]
	path = engine/lib/entt
	url = https://github.com/skypjack/entt.git
