[submodule "engine/lib/spdlog"]
	path = geg/vendor/spdlog
	url = https://www.github.com/gabime/spdlog.git
[submodule "engine/lib/glfw"]
	path = geg/vendor/glfw
	url = https://www.github.com/glfw/glfw.git